@import url('./__content/page__content.css');
@import url('./__section/page__section.css');

.page {
  background: #000;
}

.popup__input_type_error {
  display: none;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #FF0000;
}

.popup__error_visible {
  display: block;
}